
.time {
  font-family: 'Voltaire';
  font-size: 2em;
  float: left;
  padding-bottom: 20px;
  color: white;
  display: block;
  background: rgba(0,0,0,0.4);
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  z-index: -2;
}


.hide-true{
  display: none;
}

.focus-wrap {
  margin: 0px auto;
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  z-index: -1;
  font-family: "Voltaire";
}
.focus-wrap .box{
  margin: 150px auto;
  padding: 20px;
  color: white;
  background: rgba(0,0,0,0.4);
}
.focus-wrap input{
  background: transparent;
  outline: 0px;
  border: 0px;
  color: white;
  font-size: 4em;
  text-align: center;
  width: 80%;
  display: block;
  font-family: "Voltaire";
  margin: 0px auto;
}


.randomImage{
    width: 100px;
    height: 100px;
    position:fixed;
    color:white;
    background: rgba(0,0,0,0.4);
    border-radius: 50px;
    bottom:0px;
    right:0px;
    cursor:pointer;
}
.randomImage i{
    margin: 28px;
}
.photocredits{
  position: fixed;
  bottom: 5px;
  left: 0px;
}
.photocredits a{
  color: #fff;
  background: rgba(0,0,0,0.4);
  padding: 12px 15px 10px 10px;
  text-decoration: none;
}
.addbackground{
    position:fixed;
    color:white;
    background: rgba(0,0,0,0.4);
    padding: 10px 0px 0px 10px;
    bottom:0px;
    right:110px;
    cursor:pointer;
}
.addbackground input,button {
  background: transparent;
  outline: 0px;
  border: 0px;
  color: white;
}
.addbackground input {
  border-bottom: 1px white solid;
}

.app {
    width: 50px;
    float: left;
    display: inline-block;
}
.app .fa{
  background: rgba(0,0,0,0.5);
  margin: 0px;
  color: white;
  padding: 20px;
  border-radius: 20px;
}